<% provide :title, t("carts.title") %>
<div class="checkout">
  <div class="container">
    <h3><%= t ".my_shopping" %></h3>
    <div class="table-responsive checkout-right animated wow slideInUp" data-wow-delay=".5s">
      <%= render "shop_cart" %>
    </div>
  </div>
</div>
