$white: #fff;
$grey: #848484;
$whisper: #eee;
$dark-tangerine: #fda30e;
$matterhorn: #555;
$pink-swan: #b5b5b5;
$mandy: #d94f5c;
$nobel: #999;
$black: #000;
$grey-light: #ccc;
$night-rider: #333;
$saffron: #ffc229;
$dark-gray: #A7A7A7;
$nero: #212121;
$dark-cerulean: #004284;
$sorbus: #d8703f;
$gainsboro: #e0e0e0;
$blue-sky: #03a9f4;
$blue-iris: #00bcd4;
$mantis: #8bc34a;
$amber: #ffc107;
$alizarin: #e51c23;
$silver: #BBB;
$white-smoke: #F3F3F3;
$grey-suva: #8E8E8E;
