<div class="footer">
  <div class="container">
    <div class="clearfix"></div>
    <p class="copy-right"><%= t ".copy_right" %>
      <a href="http://w3layouts.com/"><%= t ".w3layouts" %></a>
    </p>
  </div>
</div>
